html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 同构JavaScript Demo
        //- css
        each css in assets.css
          link(rel="stylesheet", href=css)
    body
        div#app !{content}
        //- js
        each js in assets.js
          script(src=js)

